*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


.main{
  width:  100vw;
  display: grid;
  z-index: 99;
  position: absolute;
  grid-template-columns: repeat(12, 1fr);
  color: white;
}

div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}

div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}

div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}

div:nth-child(4){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}

div:nth-child(5){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}

div:nth-child(6){
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/span 5;
  height: 100vh;
}